$background-url: url("/img/tlan_1.jpg");

body {
    background: $background-url;
    background-size: cover;
    min-height: calc(100vh - 60px);
}

table {
    color:white !important;
    background: rgba(0,0,0,0.3);
}

.wrapper {
    text-align: center;
    color: white;
    min-height: calc(100vh - 60px);
}

h1,h2,h3,h4,h5,h6 {
        text-shadow: 0px 3px 5px black;
}
