extends /template/template_main.pug

block head
    link(rel="stylesheet",href="/css/homepage.css")

block content
    div.wrapper
        h1 Velkommen til TromsøLAN!
        h2 4. - 7. Oktober 2018
        div
            a.btn(href="/teams/") Se og registrer lag her
            span.btnsep
            a.btn(href="/players/") Se og registrer deltager
        div.stats.row
            div.col.s6
                h4 Ledende Lag
                table
                    tr
                        th Lagnavn
                        th Poeng
                    include parts/leadingteams.php
            div.col.s6
                h4 Kommende Konkurranser
                table
                    tr
                        th Konkurranse
                        th Tid
                    include parts/upcomingcomplist.php
